a{
    text-align:center;
    text-decoration:none;
}

h1{
    text-align:center;
}

.image{
    border: 5px solid black;
}

div{
    margin-right:auto;
    margin-left:auto;
}

.product{
    text-decoration:none;
    width: 420px;
    text-align:left;

}

.product:hover{
    background-color:yellow;
}