a{
    text-align:center;
    text-decoration:none;
}

h1{
    text-align:center;
}

.image{
    border: 5px solid black;
}


.product{
    text-decoration:none;
    display:flex; flex-direction:column; justify-content:center;
    width: 450px;
}

.product:hover{
    background-color:yellow;
}