a{
    text-decoration:none;
}

h1{
    text-align:center;
}

.image{
    border: 5px solid black;
}

.link{
    text-align:center;
}

.product{
    margin-right:auto;
    margin-left:auto;
    text-decoration:none;
    width: 410px;
}

.productDetail{
    margin-right:auto;
    margin-left:auto;
}

.cartProduct{
    text-align:center;
}

.product:hover{
    background-color:yellow;
}